@model Bank.Web.ViewModels.CustomerOverviewViewModel

@{
    ViewData["Title"] = "viewCustomer";
}

<dl class="row mt-3">
    <dt class="col">Name</dt>
    <dd class="col">@Model.Givenname @Model.Surname</dd>
</dl>

<dl class="row">
    <dt class="col">Gender</dt>
    <dd class="col">@Model.Gender</dd>
</dl>

<dl class="row">
    <dt class="col">Day of birth</dt>
    @if (Model.Birthday != null)
    {
        <dd class="col">@Model.Birthday.Value.Date.ToLongDateString()</dd>
    }
</dl>

<dl class="row">
    <dt class="col">Address</dt>
    <dd class="col">@Model.Streetaddress @Model.City @Model.Country</dd>
</dl>

<dl class="row">
    <dt class="col">Country code</dt>
    <dd class="col">@Model.CountryCode</dd>
</dl>

<dl class="row">
    <dt class="col">National ID</dt>
    <dd class="col">@Model.NationalId</dd>
</dl>

<dl class="row">
    <dt class="col">Email</dt>
    <dd class="col">@Model.Emailaddress</dd>
</dl>

<dl class="row">
    <dt class="col">Phone number</dt>
    <dd class="col">@Model.Telephonenumber</dd>
</dl>

<dl class="row">
    <dt class="col">Telephone country code</dt>
    <dd class="col">@Model.Telephonecountrycode</dd>
</dl>

<dl class="row">
    <dt class="col">Zipcode</dt>
    <dd class="col">@Model.Zipcode</dd>
</dl>

<dl class="row">
    <dt class="col">Total balance</dt>
    <dd class="col">@Model.TotalAmount</dd>
</dl>

<h1 class="display-4">Accounts</h1>

<div class="table-responsive">
    <table class="table">

        <tbody>
            @foreach (var accountnr in Model.Accounts)
            {

                <tr>
                    <th scope="row">Account Nr: @accountnr</th>
                    <td><a asp-controller="Account" asp-action="ViewAccount" asp-route-id="@accountnr">View</a></td>
                    <td><a asp-controller="Transaction" asp-action="Insert" asp-route-accountid="@accountnr">Insert</a></td>
                    <td><a asp-controller="Transaction" asp-action="Withdraw" asp-route-accountID="@accountnr">Withdraw</a></td>
                    <td><a asp-controller="Transaction" asp-action="Transfer" asp-route-accountID="@accountnr">Transfer</a></td>
                </tr>

            }
        </tbody>
    </table>
</div>
<hr class="mb-5"/>
