@model Bank.Web.ViewModels.AdminViewModels.ChangeUserViewModel


<h1 class="text-center">Change User</h1>


    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <!-- Container column somewhat wider than usual -->
                        <div class="col-lg-6">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Change User</h3></div>
                                <div class="card-body">
                                    <form asp-controller="Admin" asp-action="ChangeUser" method="post">
                                        <input hidden asp-for="Id" value="@Model.Id"/>
                                        <div class="form-row">
                                            <div class="col"><label class="small mb-1" asp-for="Email">Email</label><input class="form-control py-4" asp-for="Email" type="text" placeholder="Email" value="@Model.Email"/> <span asp-validation-for="Email"></span></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col"><label class="small mb-1" asp-for="FirstName">First name</label><input class="form-control py-4" asp-for="FirstName" type="text" placeholder="First name" value="@Model.FirstName" /> <span asp-validation-for="FirstName"></span></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col"><label class="small mb-1" asp-for="LastName">Last name</label><input class="form-control py-4" asp-for="LastName" type="text" placeholder="Last name" value="@Model.LastName"/> <span asp-validation-for="LastName"></span></div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col"><label class="small mb-1" asp-for="Phone">Phone number</label><input class="form-control py-4" asp-for="Phone" type="text" placeholder="Phone number" value="@Model.Phone" /> <span asp-validation-for="Phone"></span></div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><input class="btn btn-primary" type="submit" value="Change"/></div>
                                        <div asp-validation-summary="ModelOnly"></div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}