@model Bank.Web.ViewModels.AdminViewModels.ManageUsersViewModel
    
<h1 class="text-center">Manage Users</h1>


<div class="table-responsive">
    <table class="table">
        <thead class="border-white">
            <tr>
                <th scope="col">Email</th>               
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
                <th scope="col"></th> 
                <th scope="col"></th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <th scope="row">@user.Email</th>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@(user.Admin ? "Admin" : "Cashier")</td> 
                    @if (!(user.Email == "stefan.holmberg@systementor.se"))
                    {
                        <td><a asp-controller="Admin" asp-action="ChangeRole" asp-route-id="@user.ID" asp-route-admin="@user.Admin">Change Role</a></td>                    
                        <td><a asp-controller="Admin" asp-action="ChangeUser" asp-route-id="@user.ID">Edit details</a></td>
                        <td><a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.ID">Delete</a></td>
                    }                  
                </tr>
            }
        </tbody>
    </table>
</div>


