@model Bank.Web.ViewModels.ListCustomersViewModel


@{
    ViewData["Title"] = "ListCustomers";
}


<div class="row mt-3">
    <div class="col">
        <input id="SearchName" type="text" class="form-control" placeholder="Name">
    </div>
    <div class="col">
        <input id="SearchCity" type="text" class="form-control" placeholder="City">
    </div>
    <button class="btn btn-primary" type="button" onclick="SearchCustomers()">Search</button>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>                
                <th scope="col" onclick="SortCustomers('customerId', @((!(Context.Request.Query.ContainsKey("asc") && Context.Request.Query["asc"].ToString() == "true")).ToString().ToLower()))">Customer ID</th>
                <th scope="col" onclick="SortCustomers('nationalId', @((!(Context.Request.Query.ContainsKey("asc") && Context.Request.Query["asc"].ToString() == "true")).ToString().ToLower()))">National ID </th>
                <th scope="col" onclick="SortCustomers('surname', @((!(Context.Request.Query.ContainsKey("asc") && Context.Request.Query["asc"].ToString() == "true")).ToString().ToLower()))">Name</th>
                <th scope="col" onclick="SortCustomers('streetAddress', @((!(Context.Request.Query.ContainsKey("asc") && Context.Request.Query["asc"].ToString() == "true")).ToString().ToLower()))">Street Address</th>
                <th scope="col" onclick="SortCustomers('city', @((!(Context.Request.Query.ContainsKey("asc") && Context.Request.Query["asc"].ToString() == "true")).ToString().ToLower()))">City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <th scope="row">@customer.CustomerId</th>
                    <td>@customer.NationalId</td>
                    <td>@customer.Givenname @customer.Surname</td>
                    <td>@customer.Streetaddress</td>
                    <td>@customer.City</td>
                    <td><a asp-controller="Customer" asp-action="viewCustomer" asp-route-searchID="@customer.CustomerId">View</a></td>                   
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_PagerPartial" model="Model.PagingViewModel"/>
           
      

