@model Bank.Web.ViewModels.CustomerOverviewViewModel

@{
    ViewData["Title"] = "viewCustomer";
}
@{string id = null;}

@if (Model.UniqueId != null)
{
    id = Model.UniqueId;
}
else
{
    id = Model.CustomerId.ToString();
}

    <form>
        <div class="form-group row mt-3">
            <label class="col-form-label col-lg-2">Customer ID</label>
            <div class="col-lg-10">
                <input readonly value="@id" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-lg-2">Name</label>
            <div class="col-lg-5">
                <input class="form-control" value="@Model.Givenname" placeholder="Given Name"/>
            </div>
            <div class="col-lg-5">
                <input class="form-control" value="@Model.Surname" placeholder="Surname" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-lg-2">Gender</label>
            <div class="col-lg-10">
                <select class="form-control" asp-for="@Model.Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-lg-2">Day of Birth</label>
            <div class="col-lg-10">
                <input asp-for="@Model.Birthday" value="@Model.Birthday.Value.Date.ToShortDateString()" class="form-control" type="date" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-lg-2">Address</label>
            <div class="col-lg-4">
                <input asp-for="@Model.Streetaddress" value="@Model.Streetaddress" placeholder="Street Address" class="form-control" />
            </div>
            <div class="col-lg-3">
                <input asp-for="@Model.City" value="@Model.City" placeholder="City" class="form-control"/>
            </div>
            <div class="col-lg-3">
                <input asp-for="@Model.Country" value="@Model.Country" placeholder="Country" class="form-control"/>
            </div>
        </div>
        <button>Save changes</button>
    </form>







<dl class="row">
    <dt class="col">Address</dt>
    <dd class="col">@Model.Streetaddress @Model.City @Model.Country</dd>
</dl>

<dl class="row">
    <dt class="col">Country code</dt>
    <dd class="col">@Model.CountryCode</dd>
</dl>

<dl class="row">
    <dt class="col">National ID</dt>
    <dd class="col">@Model.NationalId</dd>
</dl>

<dl class="row">
    <dt class="col">Email</dt>
    <dd class="col">@Model.Emailaddress</dd>
</dl>

<dl class="row">
    <dt class="col">Phone number</dt>
    <dd class="col">@Model.Telephonenumber</dd>
</dl>

<dl class="row">
    <dt class="col">Telephone country code</dt>
    <dd class="col">@Model.Telephonecountrycode</dd>
</dl>

<dl class="row">
    <dt class="col">Zipcode</dt>
    <dd class="col">@Model.Zipcode</dd>
</dl>

<dl class="row">
    <dt class="col">Total balance</dt>
    <dd class="col">@Model.TotalAmount</dd>
</dl>

<h1 class="display-4">Accounts</h1>

<div class="table-responsive">
    <table class="table">

        <tbody>
            @foreach (var accountnr in Model.Accounts)
            {

                <tr>
                    <th scope="row">Account Nr: @accountnr</th>
                    <td><a asp-controller="Account" asp-action="ViewAccount" asp-route-id="@accountnr">View</a></td>
                    <td><a asp-controller="Transaction" asp-action="Insert" asp-route-accountid="@accountnr">Insert</a></td>
                    <td><a asp-controller="Transaction" asp-action="Withdraw" asp-route-accountID="@accountnr">Withdraw</a></td>
                    <td><a asp-controller="Transaction" asp-action="Transfer" asp-route-accountID="@accountnr">Transfer</a></td>
                </tr>

            }
        </tbody>
    </table>
</div>
<hr class="mb-5"/>
